@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  /*TEXT*/
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  /*GRADIENT*/
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  /*NEUTRAL TEXT*/
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  /*DIVIDERS*/
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Kumbh Sans', sans-serif;
}

main.container {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card {
  position: relative;
  width: 65vw;
  height: 70vh;
  border-radius: 30px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.card img#woman_mobile {
  display: none;
}

div.card img#box {
  position: absolute;
  top: 190px;
  left: -100px;
  z-index: 1;
}

div.illustration {
  overflow: hidden;
  position: relative;
}

div.illustration img {
  position: absolute;
}

div.illustration img#background {
  top: -300px;
  left: -580px;
}

div.illustration img#woman {
  top: 50px;
  left: -80px;
}

div.right_section {
  position: relative;
  padding: 40px 100px 0 0;
}

div.right_section h1.title {
  font-size: 32px;
}

div.faq_section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.faq {
  position: relative;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

img.arrow-icon {
  position: absolute;
  top: 15px;
  right: 0;
  height: 10px;
}

p.question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

p.answer {
  width: 45ch;
  display: none;
}

input.radio {
  position: absolute;
  opacity: 0;
}

input.radio:checked~p.question {
  font-weight: 700;
}

input.radio:checked~p.question:hover {
  color: black;
  cursor: default;
}

input.radio:checked~img.arrow-icon {
  transform: scaleY(-1);
}

input.radio:checked~p.answer {
  display: inline-block;
}

div.attribution {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--light-grayish-blue);
}

@media screen and (max-width: 400px) {
  body {
    font-size: 13px;
  }

  div.illustration, img#box {
    display: none;
  }

  div.card {
    position: relative;
    margin: 150px 0 50px 0;
    width: 80vw;
  }

  div.card img#woman_mobile {
    position: absolute;
    top: -111px;
    left: 45.5%;
    transform: translate(-50%, 0);
    display: inline-block;
  }

  div.card h1.title {
    text-align: center;
  }

  div.right_section {
    width: calc(80vw - 40px);
    padding: 100px 20px 50px 20px;
  }

  img.arrow-icon {
    top: 14px;
  }

  p.answer {
    width: 35ch;
  }

  div.attribution {
    position: relative;
    bottom: 10px;
    left: 45%;
  }
}
